body{
    background-color: white;
    font-family: "Source Sans Pro",sans-serif;
    margin:0;
    color: black;
}
.navbar{
  position: fixed;
  right: 0;
  margin: 30px 0;
  display: block;
}
.navbar li a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  vertical-align: top;
  letter-spacing: 1px;
  display: inline-block;
  margin: -5px 10px -5px 0px;
  padding: 0px 10px;
  border-radius: 30px;
}
.navbar li a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, .2);
}
#nav-container{
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    background-color: white;
}
#nav-container ul li{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    list-style: none;
}
#nav-container ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 160px;
    height: 80px;
}
/*dropdown menu*/
.navbar .button-dropdown {
    position: relative;
}
.navbar li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 1px;
    text-align: left;
}
.navbar li .dropdown-menu.active {
    display: block;
}
.navbar li .dropdown-menu li a {
    width: 100px;
}
#nav-container .navbar .dropdown-menu li a{
    color: #676968;
    font-size: 11px;
}
#nav-container .navbar .dropdown-menu li a:hover{
    color: black;
    font-size: 11.3px;
}
/* clothes_description */
.clothes_description{
	font-family: "proxima-nova",sans-serif;
	text-transform: uppercase;
	width:20vw;
	margin-left:15vh;
	margin-top: 1vh;
	float: left;
	position: fixed;
}
.clothes_description .clothingName{
	font-size: 13px;
	font-weight: bold;
	padding-top: 5px;
	line-height: 2.4em;
	
}
.clothes_description .materials{
	font-size: 12px;
	padding-top: 5px;
	line-height: 2.4em;
}
.collectionLabel{
	font-size: 14px;
	background-color:#78695a;
	color:white;
	padding: 10px;
}
/* lightbox */
#contentWrapper {
	margin-top: 20vh;
	margin-left:55vh;
	width:50vw;
}
#contentWrapper ul li {
	margin-bottom: 60px;
	width:50vw;
	height:30vw;
	background-size: cover;
	background-position: center center;
	-webkit-transition:opacity .6s ease-in-out;
	-moz-transition:opacity .6s ease-in-out;
	-o-transition:opacity .6s ease-in-out;
	-ms-transition:opacity .6s ease-in-out;
	transition:opacity .6s ease-in-out;
}
#contentWrapper ul li img{
	width:50vw;
	height:33vw;
}
#contentWrapper ul li:hover {
	cursor:pointer;
	opacity:.9;
}
#contentWrapper ul li {
	display:inline-block;
}
#lightbox {
	display: none;
	position: fixed;
	top:15vh;
	left:0;
	bottom: 0;
	right: 0;
	margin: auto;
	width:90vw;
	height:90vh;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
#dark {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background:rgba(0,0,0,.9);
	width:100vw;
	height:100vh;
}